<!-- Col left with the informations -->
<div class="row">
    <div class="col-4 text-white bg-green p-0" id="infos">
        <div class="container" >
            <h2 class="text-center p-5">
                Informations
            </h2>
            <div class="row p-3 text-center">
                <h3 class="col-6 p-3" id="firstName">{{ user?.firstname }}</h3>
                <h3 class="col-6 p-3 text-uppercase" id="lastName">{{ user?.name }}</h3>
            </div>
            <div class="row p-3">
                <div class="p-3 col-8">
                    <input type="email" id="email" [ngModel]="user?.email" class="input w-100">
                </div>
                <div class="p-3 col-4">
                    <button class="btn modify" id="mailModify">Modifier</button>
                </div>
                <div class="p-3 col-8">
                    <input type="password" id="password" [ngModel]="user?.password" class="input w-100">
                </div>
                <div class="p-3 col-4">
                    <button class="btn modify" id="pwdModify">Modifier</button>
                </div>
            </div>
        </div>
    </div>

    <!-- right of the page with order in progress -->
    <div class="col-8 p-5" id="commandes">
        <br><br><br>
        <div class="row">
            <h1 class="col-8 p-5">
                Mes commandes en cours
            </h1>
            <div class="p-5 circle_base text-white bg-green">
                <h1>Solde</h1>
                <p class="text-center">25.00€</p>
            </div>
        </div>
        <div class="container">
            <div class="row order-header d-flex justify-content-around p-3 flex-row boxstyle bg-green">
                <b class="text-white">Choix</b>
                <b class="text-white">Date de récupération</b>
                <b class="text-white">prix</b>
                <b class="text-white">annuler</b>
            </div>
            <!-- Boucle sur les commandes en cours de l'utilisateur -->
            <div class="row order d-flex justify-content-between p-2 mb-2" id="order2">
                <p class="d-inline">Menu 1</p>
                <p class="d-inline"> 14/10/2018 12:30</p>
                <p class="d-inline">5.10€</p>
                <button class="btn-delete">X</button>
            </div>
            <!-- fin de boucle -->
        </div>
    </div>
</div>
