
/*
**	Background of the Sign In / Register page
*/

.clickable
{
	color: #34C765;
	cursor: pointer;
}

.white_grey_bg
{
	background-color: #efefef;
}

body
{
  font-family: 'Poppins', sans-serif;
}

/*
**	All function till .a-nav:hover are style for the top Nav
*/

.hide
{
	display: none;
}

.navbar
{
	background-color: #34C765;
}

.a-nav
{
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-right: 30px;
  border: solid #fff;
  padding: 15px;
  cursor: pointer;
}

h1.h1-title
{
  color: #ffffff;
  font-size: 25px;
}

.a-nav:hover
{
  color: black;
  list-style: none;
  text-decoration: none;
}

/*
**	Style for the field
*/

.field_input
{
	border: solid black;
	width: 80%;
	height: 45px;
}

.circle_base
{
	border-radius: 100%;
	width: 200px;
    height: 200px;
    background-color: #34C765;
}