<!-- Comme pour les commandes, on boucle sur chaque objet User -->
<div class="container b-5 p-5 mt-5 boxstyle w-100">
    <h2 class="center title-bold text-uppercase p-3">Liste des utilisateurs</h2>
    <div class="row boxstyle justify-content-around center w-100 boxstyle bg-green p-2 mb-3 menu">
        <p class="text-white col-2">NOM</p>
        <p class="text-white col-2">Prenom</p>
        <p class="text-white col-3">Email<p>
        <p class="text-white col-2">Solde</p>
        <p class="text-white col-2">Ajouter|Retirer</p>
    </div>
    <!-- La row marque le début de la boucle -->
    <div *ngFor="let user of list; let i = index" class="row mb-3 boxstyle justify-content-around center w-100">
        <p class="col-2 text-uppercase user-mobile">
            {{ user.values.name }}
            <!-- Nom de famille de l'utilisateur -->
        </p>
        <p class="col-2 user-mobile">
            {{ user.values.firstname }}
            <!-- Prénom de l'utilisateur -->
        </p>
        <p class="col-4 text-lowercase">
            {{ user.values.email }}
            <!-- email de l'utilisateur -->
        </p>
        <p class="col-2">
            {{ user.values.solde }}
            <!-- Solde sur le compte de l'utilisateur -->
        </p>
        <button class="col-1 btn" (click)="increase(i)">
            +
            <!-- Créer une fonction pour ajouter de l'argent sur le compte de l'utilisateur -->
        </button>
        <button class="col-1 btn-delete" (click)="decrease(i)">
            -
            <!-- Créer une fonction pour retirer de l'argent sur le compte de l'utilisateur -->
        </button>
    </div>
    <!-- La boucle est fini à partir d'ici -->
</div>

<div class="row w-100 m-0">
    <a [routerLink]="['/administration']" class="col-12 btn flex-row">
        Liste des Commandes
    </a>
</div>
<router-outlet></router-outlet>
