<div class="container p-5">
  <h2 class="text-center pb-5">MENU DU JOUR</h2>

  <div class="container">
    <div class="row h-100">
      <app-day class="col-8 h-100 d-inline-block" ></app-day>
      <div class="col-4">
        <div class="col b-5 m-1 p-2 text-center font-weight-bold " id="1">LUNDI</div>
        <div class="col b-5 m-1 p-2 text-center font-weight-bold" id="2">MARDI</div>
        <div class="col b-5 m-1 p-2 text-center font-weight-bold" id="3">MERCREDI</div>
        <div class="col b-5 m-1 p-2 text-center font-weight-bold" id="4">JEUDI</div>
        <div class="col b-5 m-1 p-2 text-center font-weight-bold" id="5">VENDREDI</div>
      </div>
    </div>
  </div>
</div> 