<!-- first part of the page with the title and the solde -->
<div class="row">
  <h1 class="col-8 p-5">
    Mon panier
  </h1>
  <h1 class="p-5 circle_base text-white">
    Solde
  </h1>
</div>

<!-- second part of the page with the tab -->
<div class="row-fluid">
  <div class="col-12 p-3 boxstyle d-flex justify-content-around flex-row w-100 center bg-green">
    <b class="text-white col-3">
      Produit(s)
    </b>
    <b class="text-white col-2">
      Jour
    </b>
    <b class="text-white col-2">
      Horaire de récupération
    </b>
    <b class="text-white col-2">
      Quantité
    </b>
    <b class="text-white col-2">
      Prix
    </b>
  </div>
</div>
