
<nav class="row bg-green">
    <a [routerLink]="['/accueil']" class="col-2 text-center text-uppercase text-white mt-3 mb-3">Menu</a>
    <a [routerLink]="['/panier']" class="col-2 text-center text-uppercase text-white  mt-3 mb-3">Panier</a>
    <a [routerLink]="['/profil']" class="col-2 text-center text-uppercase text-white mt-3 mb-3">Profil</a>
    <a [routerLink]="['/administration']" class="col-2 text-center text-uppercase text-white mt-3 mb-3">Administration</a>
    <a [routerLink]="['/connexion']" class="col-2 text-center text-uppercase text-white mt-3 mb-3">Connexion</a>
    <a [routerLink]="['/inscription']" class="col-2 text-center text-uppercase text-white mt-3 mb-3">Inscription</a>
  </nav>
<router-outlet></router-outlet>
