<!-- Le but ici va d'avoir qu'un exemple de slot horaire
et de boucler sur un objet qui contiendra toutes les infos necessaire -->

<!-- Par exemple : On a un tableau d'objet : Orders[] 
  Pour chaque order in Orders on affiche d'abord l'heure
  ensuite à chaque ligne ça donnera :
  MENU        CLIENT          X (pour annuler) -->
<h2 class="center title-bold text-uppercase p-3">Liste des commandes</h2>
<!-- Debut de boucle ici -->
<div class="container boxstyle p-3 b-5" *ngFor="let order of list; let i = index">
  <!-- en dessous insérer l'heure contenu dans l'objet -->
  <h4 class="center text-uppercase mb-3">{{ order?.hour }}</h4> 
    <ul class="list-group">
      <li class="list-group-item boxstyle justify-content-around flex-row d-flex order-admin">
        <!-- en dessous insérer le menu choisit contenu dans l'objet -->
        <p class="text text-uppercase col-4">{{ oder?.menu }}</p>
        <!-- en dessous insérer le client contenu dans l'objet -->
        <p class="text text-uppercase col-4">{{order?.user.firstname}} {{order?.user.name}}</p>
        <button class="btn-delete">X</button>
      </li>
    </ul>
    <!-- Fin de boucle -->
</div>
<!-- Boutons pour la liste User  -->

<div class="row w-100">
  <a [routerLink]="['/administration/listeUtilisateur']" class="col-12 btn flex-row">
    Liste des Utilisateur
  </a>
</div>
<router-outlet></router-outlet>