<!-- Le but ici va d'avoir qu'un exemple de slot horaire
et de boucler sur un objet qui contiendra toutes les infos necessaire -->

<!-- Par exemple : On a un tableau d'objet : Orders[] 
  Pour chaque order in Orders on affiche d'abord l'heure
  ensuite à chaque ligne ça donnera :
  MENU        CLIENT          X (pour annuler) -->
<h2 class="center title-bold text-uppercase p-3">Liste des commandes</h2>
<!-- Debut de boucle ici -->
<div class="container boxstyle p-3 b-5 .col-xs-12 .col-sm-6 .col-md-8" *ngFor="let order of list[0]">
  <!-- en dessous insérer l'heure contenu dans l'objet -->
  <h4 class="center text-uppercase mb-3">{{ order?.date }}</h4> 
    <ul class="list-group">
      <li class="list-group-item boxstyle justify-content-around flex-row d-flex order-admin">
        <!-- en dessous insérer le menu choisit contenu dans l'objet -->
        <div class="col-4 row">
            <app-menu [key]="key" *ngFor="let key of order?.menuKeys" class="col-6"></app-menu>
        </div>
        <!-- en dessous insérer le client contenu dans l'objet -->
        <app-admin-user [key]="order?.userKey" class="col-4"></app-admin-user>
        <button class="btn-delete" (click)="deleteOrder(order?._id)">X</button>
      </li>
    </ul>
    <!-- Fin de boucle -->
</div>
<!-- Boutons pour la liste User  -->

<div class="row w-100">
  <a [routerLink]="['/administration/listeUtilisateur']" class="col-12 btn flex-row">
    Liste des Utilisateur
  </a>
</div>
<router-outlet></router-outlet>