/* 
 *
 */
#list-orders 
{
	border: 5px solid black;
	margin-bottom: 25px;
}

/* 
 *
 */
.title-bold 
{
	font-weight: bold;
	color: black;
}

/* 
 *
 */
.order-admin 
{
	border: 5px solid black;
	margin-bottom: 25px;
}