/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

/* 
 *  Style for every box (inscription/connexion for example)
 */
.boxstyle
{
	margin-top: 30px !important;
	background-color: #FFFFFF;
	-webkit-box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	-moz-box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	margin-bottom: 30px;
	border: 1px solid #e5e5e5;
}

/*
 *  Style Border Item
 */
.b-5
{
	border: 5px solid black;
	
}

div.col-4
{
	padding: 0px;
	cursor: pointer;
}
/* 
 *  Background Green
 */
.bg-green
{
	background-color: #34C765;
	
}

/* 
 *  Style for every input field
 */
.input
{
	border: solid black;
	width: 80%;
	height: 45px;
}

.a-nav
{
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-right: 30px;
  border: solid #fff;
  padding: 15px;
  cursor: pointer;
}

.a-nav:hover
{
  color: black;
  list-style: none;
  text-decoration: none;
}

/*
 *  Cercle pour le solde
 *  utilisé dans basket et profil
 */
.circle_base
{
	border-radius: 100%;
	width: 200px;
    height: 200px;
    background-color: #34C765;
}

/* 
 *  Allowed to center every element
 */
.center
{
	text-align: center;
	margin: auto;
}

/*
 *	Style button-delete/cancel/annul standard
 */
.btn-delete
{
	background-color: #FFFFFF;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}
.btn-delete:hover
{
	background-color: rgb(199, 52, 52) !important;
	color: white;
	border: solid;
}

/*
 *	Style button-success/ok standard
 */
.btn
{
	background-color: #FFFFFF;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	color: black;
}
.btn:hover
{
	background-color: #34C765 !important;
	color: white;
	border: solid;
}



.menu-hover
{
	text-decoration: none !important;
	
}

.menu-hover:hover
{
	border: 5px solid #016839;
	border-radius: 10px;
	background: #016839;
	padding: 14px 16px;

}

#infos.col-4.text-white.bg-green.p-0 
{
	margin: 15px 15px;
}

a.col-12.btn.flex-row
{
	margin-left: 15px;
}

button.btn-secondary.test
{
	margin-left: 15px;
}

/* RESPONSIVE */
/* Pour un mobile dont l'écran a une largeur est inférieur à 480px: */

@media screen and (max-width: 480px) { 
	nav.row.bg-green {
		/* background: blue; */
		padding-bottom: 15px;
	}
	a {
		margin: 100px;
		text-align: center;
	}
	
	.menu
	{
		display: none;
	}

	.menu-hover:hover
	{

		background: none;
		border: none;
		padding: 14px 16px;
	}

	.btn-secondary
	{
		margin-left: 14px;
	}
	.b-5
{
	border: 5px solid black;
	margin-right: 15px;
}

}

/* Pour une tablette dont l'écran a une largeur est comprise entre 480px et 960px: */

@media screen and (min-width: 480px) and (max-width: 960px) { 
	nav.row.bg-green {
		/* background: blue; */
		padding-bottom: 15px;
	}
	a {
		margin: 100px;
		text-align: center;
	}
	

	.menu-hover:hover
	{
		background: none;
		border: none;
		padding: 14px 16px;
	}

	/* .btn-secondary
	{
		margin-left: 14px;
	} */
 }

/* Il est possible de placer la Media Querie directement dans la balise link: */

/* <link rel="stylesheet" media="screen and (max-width: 480px)" href="mobile.css" /> */